<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <!-- SEO -->
  <meta name="author" content="">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="robots" content="noindex" />
  <meta name="robots" content="index" />
  <!-- 渲染机制 -->
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge, chrome=1">
  <title>多页面配置</title>
  <!--[if lt IE 9]>
		<scriptsrc="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<![endif]-->

</head>

<body>
  <h3>多页面配置--- index页面</h3>
  <a href="template.html">多页面间跳转</a>
  <img src="../../assets/img/picture.jpg" alt="图片">
</body>

</html>
